@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

.App {
  background-color: #39445a;
  color:#FFF;
  padding-top:130px;
  min-height: 100vh;
  padding-bottom: 70px;
}

@media (max-width:687px) {
  .App {
    padding-top:70px;
  }
}


.pageTitle{
  text-transform: uppercase;
  display: flex;
  justify-content:center;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
  padding: 4px;
  font-size: 2vw;
  margin: 5px 0;
  border-radius: 10px;
}

@media  (max-width:1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}